@import '../Styles/Variables/Variables.scss';

#app {
    font-family: $fontFamily;
    height: 100vh;
    background: $lightBg;
    .container {
        background: $lightBg;
        padding: 0 24px;
    }
}
