@import '../Variables/Variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 72px;
  background: $navbar;
  .logoBox {
    .logo {
      position: absolute;
      top: 22px;
      left: 22px;
    }
    .square1,
    .square2 {
      width: 72px;
      height: 72px;
    }
    .square1 {
      position: absolute;
      top: 0px;
      border-radius: 0 20px 20px 0;
      background: #7c5dfa;
    }
    // .square2 {
    //   bottom: -36px;
    //   border-radius: 20px 0 0 20px;
    //   background: #9277ff;
    // }
  }
  .rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding-right: 24px;
    // .modeIcon {
    // }
    .line {
      width: 1px;
      height: 72px;
      background: $line;
    }
    .profilePicture {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
}
