// // Typography
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

// Font
$fontFamily: 'Spartan', sans-serif;

// Color
$lightBg: #f8f8fb;
$darkbg: #141625;
$navbar: #1e2139;
$line: #494e6e;
$body: #888eb0;
$purple: #7c5dfa;
$box-shadoow: rgba(72, 84, 159, 0.25);
$invice-shadow: rgba(72, 84, 159, 0.100397);
$white: #ffffff;
$hex: #7e88c3;
$textBlack: #0c0e16;
$name: #858bb2;
$paidBg: rgba(51, 214, 159, 0.06);
$pendingBg: rgba(255, 143, 0, 0.06);
$draftBg: rgba(55, 59, 83, 0.06);
$paid: #33d69f;
$pending: #ff8f00;
$draft: #373b53;
$grey: #f9fafe;
$borderInput: #dfe3fa;
$denger: #ec5757;

// Font
$size1: 32px;
$size2: 20px;
$size3: 16px;
$size4: 12px;
$size5: 11px;
$size6: 15px;
$size7: 18px;

$height1: 36px;
$height2: 22px;
$height3: 24px;
$height4: 15px;
$height5: 18px;
$height6: 20px;
$height7: 32px;

$medium: 500;
$bold: 700;
